{% extends 'customer/cust_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block cust_head %}
        <title>Seat cancellation</title>
    {% endblock %}
</head>
<body>
    {% block cust_body %}
        <div class="container d-flex justify-content-between">
            <div class="row" style="text-align: center">
                <div class="col-sm-12">
                    <div class="container">
                          <h2>Available Slots for Cancellation</h2>
                          <table class="table table-bordered">
                              <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>Theatre Name</th>
                                        <th>Booked Date</th>
                                        <th>Movie Name</th>
                                        <th>Movie Time</th>
                                        <th>Seat No</th>
                                        <th>Total Cost</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    {% for x in sobj %}
                                        {% if x.sumail == tid and x.sstat == 'yes' and x.stcost != None %}
                                            <tr>
                                                <td>{{ x.id }}</td>
                                                <td>{{ x.sumail }}</td>
                                                <td>{{x.stname}}</td>
                                                <td>{{ x.stdate }}</td>
                                                <td>{{ x.sshowname }}</td>
                                                <td>{{ x.sshowtype }}</td>
                                                <td>{{ x.sslot }}</td>
                                                <td>{{ x.stcost }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                              </tbody>
                          </table>
                </div>
                </div>
            </div>
            <div style="margin: 10px 0px 10px 0px"></div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-inline" action="{% url 'custcancel' %}" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <label for="select">Select ID: </label>
                            <select class="form-control" name="scancel" required>
                                {% for x in sobj %}
                                    {% if x.sumail == tid and x.sstat == 'yes' and x.stcost != None %}
                                    <option value="{{ x.id }}">{{ x.id }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Cancel Seat" />
                        </div>
                        <div class="form-group"><h3 style="color: #1c7430;">{{ mess }}</h3></div>
                    </form>
                </div>
            </div>
            <div style="margin: 10px 0px 10px 10px"></div>

        </div>
    {% endblock %}
</body>
</html>
